<mat-accordion class="example-headers-align" *ngIf="user">
    <div>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header class="mat-expansion-panel-header">
                <mat-panel-title color="primary">
                    chat
                </mat-panel-title>

                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                </div>
            </mat-expansion-panel-header>




            <div class="inbox_chat">
                <div class="msg_history" *ngIf="user">
                    <ng-container *ngFor="let chat of headsList">

                        <div class="chat_list active_chat" (click)="getMessages(chat.chat_head_id,chat.user_info)">
                            <div class=" chat_people">
                                <div class="chat_img">

                                    <div *ngIf="chat.user_info[1].user_id != this.user.user_id; else elseImage">
                                        <img [src]="chat.user_info[1].user_image" alt="sunil">
                                    </div>
                                    <ng-template #elseImage>
                                        <img [src]="chat.user_info[0].user_image" alt="sunil">

                                    </ng-template>

                                </div>
                                <div class="chat_ib">

                                    <div *ngIf="chat && chat.user_info[1].user_id != this.user.user_id; else elseBlock">
                                        <h5> {{chat.user_info[1].user_name }} <span class="chat_date">Dec 25</span>
                                        </h5>
                                        <p>{{chat.last_message}}</p>


                                    </div>
                                    <ng-template #elseBlock>
                                        <h5>
                                            {{chat.user_info[0].user_name }} <span class="chat_date">Dec 25</span></h5>
                                        <p>{{chat.last_message}}</p>
                                    </ng-template>





                                </div>
                            </div>
                        </div>

                    </ng-container>
                </div>


            </div>

            <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>

    </div>
</mat-accordion>

<!-- messages -->




<mat-accordion *ngIf="secondUser && chatView" class="example-headers-align  messages-chat-list">

    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div (click)="close()"><i class="material-icons"> cancel </i>
                </div>

                {{secondUser.name}}
            </mat-panel-title>

            <div class="chat_img"> <img [src]="secondUser.profile_image" alt="sunil">
            </div>
        </mat-expansion-panel-header>



        <div class="msg_history pb-5 " #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <div class="messages  " *ngIf="chat.allMessages | async as messages" [@listStagger]="messages.length">
                <mat-card class="message" *ngFor="let message of messages; trackBy: trackById; index as i;"
                    [class.from-me]="message.sender_id=== userIdLowerCase"
                    [class.compact]="messages[i - 1]?.reciver_id ===message.reciver_id "
                    [class.compact]="messages[i - 1]?.sender_id ===message.sender_id">

                    <mat-card-header>
                        <img mat-card-avatar *ngIf="message.sender_id=== userIdLowerCase"
                            [src]="secondUser.profile_image">
                        <img mat-card-avatar *ngIf="message.sender_id != userIdLowerCase" [src]="user.profile_image">
                        <mat-card-title *ngIf="message.sender_id=== userIdLowerCase">{{secondUser.name}}
                        </mat-card-title>
                        <mat-card-title *ngIf="message.sender_id != userIdLowerCase">{{user.name}}
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="body">{{ message.message }}</div>
                        <!-- <div class="time">{{ message.created_at | date : 'yyyy-MM-dd HH:mm:ss' }}</div> -->
                    </mat-card-content>
                </mat-card>
            </div>
        </div>


        <div style="  position: absolute;   bottom:   0;
        background-color:white; width: 100%; height: 50px; z-index: 50;
                        ">
            <div class="type_msg">
                <div class="input_msg_write">



                    <input [(ngModel)]="newMsg" type="text" class="write_msg" (keydown.enter)="sendMessage()"
                        placeholder="Type a message" />
                    <button (click)="sendMessage()" (keydown.enter)="sendMessage()" class="msg_send_btn" type="button"
                        [disabled]="!newMsg"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

    </mat-expansion-panel>
</mat-accordion>