@import '../../../styles/variabales.scss';


  .backgground {
    bottom: 100px;
    position: relative;
    background-color: #f0f1f3;
    max-width: 100%;
    background: url(../../../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 350px;
    max-height: 300px;
    padding-bottom: 8rem;
  
  }
 
.main-raised {
    top: 175px;
    margin-top: 100px;
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.main {
    background: #FFF;
    position: relative;
    
}

.mainr-raised {
    top: 100px;
    margin-top: 100px;
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.mainr {
    background: #FFF;
    position: relative;
    
}

.profile-page .profile {
    text-align: center;
}







.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    color: $primary;
    font-weight: 700;
    font-family: "Roboto Slab","Times New Roman",serif;
}



p {
    font-size: 14px;
    margin: 0 0 10px;
}







.profile-page .profile .name{
    margin-top: -80px;
}

.profile-page .profile img {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate3d(0,-50%,0);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}



////////////@at-root
