<header id="home-section" class=" ">

    <div class="container">
        <div class="d-flex row-hl">
            <div class="mr-auto p-2 item-hl">
                <a class="navbar-brand" [routerLink]="['/home']"
                    style=" color:#fff; margin-top: 40px; font-size: x-large;">HOME</a>
            </div>
            <li ngbDropdown class="d-inline-block" style=" margin-top: 40px; ">
                <a class="nav-link dropdown-toggle" id="dropdownMenuButton" ngbDropdownToggle>
                    <img [src]="photoUrl | safe" width="50" height="50" class="rounded-circle">
                </a>
                <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenuButton">


            <li class="dropdown-item" [routerLink]="['/forgot-password']"><span
                    class="material-icons md-48">https</span>change password</li>
            <li class="dropdown-item" [routerLink]="['/forgot-password']"><span
                    class="material-icons md-48">email</span>change email address
            </li>
            <li class="dropdown-item" (click)="auth.logout()"><span class="material-icons md-48">exit_to_app
                </span>logout</li>


        </div>
        </li>

    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="mx-auto ">
                <div class="container-profile">
                    <div class="image-upload">
                        <label for="file-input">
                            <div class="avatar-flip">
                                <div *ngIf="photoUrl">
                                    <img [src]="photoUrl | safe" height="150" width="150">

                                </div>
                            </div>
                        </label>
                        <!-- 
                        <input id="file-input" type="file" accept="image/x-png,image/gif,image/jpeg"
                            (change)="imageUpload($event.target.files)" /> -->

                    </div>






                    <div *ngIf="userData">
                        <h2>{{userData.name}}</h2>
                        <h4>{{userData.departments}}</h4>
                    </div>
                    <button class="button" routerLink="/chats/vgZGEIBqugGZXjs5Ev5l"
                        (click)="cv.getChatId('t1ZQgqAhpTiMHbCmXtE5')">Join Mega
                        Chat
                        🎪</button>

                    <button class="button is-info" (click)="cs.create()">Create New Chat</button>

                    <div class="container">

                        <button mat-button (click)="openDialog()">Cgange profile image</button>

                    </div>
                    <div class="row">
                        <div class="col-6 border-top border-right mb-0" (click)="view('personal-info')"
                            [ngStyle]="{'background-color':curentView === 'personal-info' ? '#2f2dc0' : 'white'}">
                            personal
                            info
                        </div>
                        <div class="col-6 border-top" (click)="view('resume-info')"
                            [ngStyle]="{'background-color':curentView === 'resume-info' ? '#2f2dc0' : 'white' }">resume
                            info</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <h3>My Chats</h3>

            <ul>
                <li *ngFor="let chat of userChats$ | async">
                    <a [routerLink]="'/chats/'+ chat.id">{{ chat.id }} - {{ chat.messages.length }} Messages </a>
                </li>
            </ul>
        </div>
        <div class="row ">
            <div class=" mx-auto ">

                <div class="container-display">
                    <ng-template [ngIf]="curentView == 'resume-info'">
                        <img *ngIf="!PDFURL" src="../../../assets/draw.png" alt="" class="pdf">
                        <div *ngIf="PDFURL" class="pdf">

                            <embed [src]="PDFURL | safe" type="application/pdf" class="pdf">
                        </div>

                        <div class="file">
                            <a [href]="PDFURL" target="_blank" rel="noopener">Download PDF!</a>

                            <!-- <label class="file-label">

                                <button type="button" mat-raised-button color="primary"
                                    (click)="fileInput.click()">upload/update pdf</button>
                                <input hidden (change)="startUpload($event.target.files)" #fileInput type="file"
                                    id="file" accept="application/pdf">
                            </label> -->

                            <div class="box mt-2">
                                <input hidden type="file" name="file-2[]" id="file-2" class="inputfile inputfile-2"
                                    accept="application/pdf" (change)="startUpload($event.target.files)" />
                                <label for="file-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17"
                                        #fileInput viewBox="0 0 20 17">
                                        <path
                                            d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                                    </svg> <span>upload/update pdf&hellip;</span></label>
                            </div>
                        </div>

                    </ng-template>


                    <ng-template [ngIf]="curentView == 'personal-info'">
                        <app-personal-info [childMessage]="user.user_id"></app-personal-info>

                    </ng-template>

                </div>
            </div>
        </div>
    </div>



</header>



<div class="back" style="width: 100%; height: 100%;"></div>