<h2 mat-dialog-title>CV Fillter</h2>
<mat-dialog-content class="mat-typography">

    <!-- <div class="form-row">

        <div class="form-group col-md-6">

            <p class="mx-4">Age: <ng5-slider [(value)]="minAge" [(highValue)]="maxAge" [options]="options"></ng5-slider>
            </p>
        </div>
        <div class="form-group col-md-3">
            <p class="mt-4">Min Age: <input type="number" [(ngModel)]="minAge"></p>
        </div>
        <div class="form-group col-md-3">
            <p class="mt-4 ">Max Age: <input type="number" [(ngModel)]="maxAge"></p>
        </div>
    </div>


    <hr> -->



    <div class="form-row">

        <div class="form-group col-md-6">

            <p class="mx-4">Experience: <ng5-slider [(value)]="minExperience" [(highValue)]="maxExperience"
                    [options]="options">
                </ng5-slider>
            </p>
        </div>
        <div class="form-group col-md-3">
            <p class="mt-4">Min Experience: <input type="number" [(ngModel)]="minExperience"></p>
        </div>
        <div class="form-group col-md-3">
            <p class="mt-4">Max Experience: <input type="number" [(ngModel)]="maxExperience"></p>
        </div>
    </div>


    <!-- <hr class="mb-5"> -->



    <form [formGroup]="filterForm" novalidate>



        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCategory">Category</label>
                <select class="form-control" (change)="cv.getDepartments($event.target.value)" id="inputCategory"
                    placeholder="category (required)" formControlName="category" [ngClass]="{'is-invalid': (filterForm.get('category').touched ||
                    filterForm.get('category').dirty) &&
                        !filterForm.get('category').valid }">
                    <option>--Select category--</option>

                    <option *ngFor="let category of cv.categories |async">
                        {{category.name}}</option>
                </select>
                <span class="invalid-feedback">
                    <span *ngIf="filterForm.get('category').errors?.required">
                        Please enter your category.
                    </span>

                </span>
            </div>


            <div class="form-group col-md-6">
                <label for="departmentId">Department</label>
                <select class="form-control" id="departmentId" placeholder="department (required)"
                    formControlName="departments" [ngClass]="{'is-invalid': (filterForm.get('departments').touched ||
                    filterForm.get('departments').dirty) &&
                                    !filterForm.get('departments').valid }">
                    <div></div>

                    <option>--Select department--</option>

                    <option *ngFor="let department of cv.departments |async">
                        {{department.name}}</option>


                </select>

                <span class="invalid-feedback">
                    <span *ngIf="filterForm.get('departments').errors?.required">
                        Please enter department.
                    </span>

                </span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="countryId">Country/Region</label>
                <select class="form-control" (change)="country.onChangeCountry($event.target.value)" id="
                        countryId" placeholder="Country (required)" formControlName="country" [ngClass]="{'is-invalid': (filterForm.get('country').touched ||
                        filterForm.get('country').dirty) &&
                                !filterForm.get('country').valid }">
                    <option>--Select country--</option>

                    <option *ngFor="let country of country.countries |async" [value]="country.name">
                        {{country.name}}</option>
                </select>
                <span class="invalid-feedback">
                    <span *ngIf="filterForm.get('country').errors?.required">
                        Please enter your country.
                    </span>
                </span>
            </div>
            <div class="form-group col-md-6">
                <label for="stateId">state</label>

                <select class="form-control" id="stateId" placeholder="state (required)" formControlName="state"
                    [ngClass]="{'is-invalid': (filterForm.get('state').touched ||
                filterForm.get('state').dirty) &&
                            !filterForm.get('state').valid }">
                    <option>--Select State--</option>
                    <option *ngFor="let state of country.states | async" [value]="state.name">{{state.name}}
                    </option>
                </select>
                <span class="invalid-feedback">
                    <span *ngIf="filterForm.get('state').errors?.required">
                        Please enter your state.
                    </span>
                </span>
            </div>
        </div>



        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="MaritalId">Marital Status</label>
                <select class="form-control" id="MaritalId" placeholder="Marital Status (required)"
                    formControlName="marital_status" [ngClass]="{'is-invalid': (filterForm.get('marital_status').touched ||
                filterForm.get('marital_status').dirty) &&
                            !filterForm.get('marital_status').valid }">
                    <option>Unspecified</option>
                    <option>Single</option>
                    <option>Married</option>
                </select>
                <span class="invalid-feedback">
                    <span *ngIf="filterForm.get('marital_status').errors?.required">
                        Please enter your name.
                    </span>
                </span>

            </div>
            <div class="form-group col-md-6">
                <label for="MilitaryId"> Military Status</label>
                <select class="form-control" id="MilitaryId" placeholder="Marital Status (required)"
                    formControlName="military_status" [ngClass]="{'is-invalid': (filterForm.get('military_status').touched ||
                    filterForm.get('military_status').dirty) &&
                            !filterForm.get('military_status').valid }">
                    <option>Not Applicable</option>
                    <option>Exempted</option>
                    <option>Completed</option>
                    <option>Postponed</option>
                </select>
                <span class="invalid-feedback">
                    <span *ngIf="filterForm.get('military_status').errors?.required">
                        Please enter your name.
                    </span>
                </span>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="genderId">Gender</label>
                <select class="form-control" id="genderId" placeholder="gender (required)" formControlName="gender"
                    [ngClass]="{'is-invalid': (filterForm.get('gender').touched ||
                    filterForm.get('gender').dirty) &&
                            !filterForm.get('gender').valid }">
                    <option>--Select gender--</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>

                <span class="invalid-feedback">
                    <span *ngIf="filterForm.get('gender').errors?.required">
                        Please enter gender.
                    </span>

                </span>
            </div>


        </div>
        <!-- <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div> -->




        <!-- <button type="submit" class="btn btn-primary col-6">search</button> -->

    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial [disabled]="!filterForm.valid"
        (click)="cv.submit(filterForm,minExperience,maxExperience)">search</button>
</mat-dialog-actions>