#home-section {
    position: relative;
    background-color: #343a40;
    max-width: 100%;
    background: url(../../../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 650px;
    padding-top: 11rem;
    padding-bottom: 8rem;
  
  }


.list{
  height:200px;
   width:40%;
   overflow:hidden;
   overflow-y:scroll;
  }

  

  
  
