<div class="back">
    <header id="home-section" class=" text-white text-center">

        <div class="container">

            <div class="d-flex row-hl">
                <div class="mr-auto p-2 item-hl">
                    <a class="navbar-brand" [routerLink]="['/home']"
                        style=" color: thistle; margin-top: 40px; font-size: x-large;">HOME</a>
                </div>

                <div class=" p-2 item-hl" style="margin-top: 40px;" *ngIf="currentUser else loggedOut">
                    <button type="button" [routerLink]="['/profile']" class="btn btn-outline-light">profile</button>
                    <button type="button" (click)="auth.logout()" class="btn btn-outline-light">signout</button>
                </div>
                <ng-template #loggedOut>

                    <div class=" p-2 item-hl" style="margin-top: 40px;">
                        <button type=" button" [routerLink]="['/login']"
                            class="btn btn-outline-light mr-4">login</button>
                        <button type="button" [routerLink]="['/signup']" class="btn btn-outline-light mr-4">sign
                            up</button>

                    </div>
                </ng-template>

            </div>



        </div>

        <div class="row mt-5">
            <div class="mx-auto ">
                <div class="findbox">
                    <span>s </span> <span>find CV</span>
                </div>
            </div>
        </div>

    </header>

    <section>
        <div class="container">
            <div class="row mt-4 ">
                <div class="mx-auto my-auto  mb-5">
                    <div *ngIf="!category">
                        <a (click)="console()"> categories>department</a>

                    </div>
                    <div *ngIf="category">
                        <a (click)="console()"> categories> </a>
                    </div>

                </div>

            </div>


            <div class="row list ">

                <ng-template [ngIf]="category">
                    <ng-container *ngFor="let chatroom of cv.test | async">
                        <div class="col-md-4 col-sm-6 ">
                            <div class="card card-block m-3  align-items-center" (click)="console(chatroom.id)">
                                <img [src]="chatroom.image">
                                <h4 class="card-title mt-3 mb-3">{{chatroom.id}}</h4>
                            </div>
                        </div>
                    </ng-container>
                </ng-template>

                <ng-template [ngIf]="department">
                    <ng-container *ngFor="let item of items | async">
                        <div class="col-md-4 col-sm-6 ">
                            <div class="card card-block m-3 py-5  align-items-center"
                                (click)="userconsole(item.category_id)">
                                <h4>{{item.name}}</h4>
                            </div>
                        </div>
                    </ng-container>
                </ng-template>

                <ng-template [ngIf]="user">
                    <ng-container *ngFor="let user of users | async">
                        <div class="col-md-4 col-sm-6 ">
                            <div class="card card-block m-3 py-5  align-items-center">
                                <h4>name: {{user.name}}</h4>
                                <h4>category: {{user.category}}</h4>
                                <h4>age: {{user.age}}</h4>
                                <h4>city: {{user.city}}</h4>

                            </div>
                        </div>
                    </ng-container>
                </ng-template>

            </div>
        </div>
    </section>
</div>