<div class="back">
    <header id="home-section" class=" text-white text-center">

        <div class="container">

            <!-- <div>
                <div style="display: inline ;float: left;">
                    <a class="navbar-brand" [routerLink]="['/home']"
                        style=" color: thistle; margin-top: 40px; font-size: x-large;">HOME</a>
                </div>

                <div style="display: inline; float:right; margin-top: 50px;">
                    <button type="button" [routerLink]="['/login']" class="btn btn-outline-light mr-4">login</button>
                    <button type="button" [routerLink]="['/signup']" class="btn btn-outline-light mr-4">sign up</button>
                    <button type="button" [routerLink]="['/profile']" class="btn btn-outline-light">profile</button>

                </div>
            </div>



        </div> -->

            <div class="d-flex row-hl">
                <div class="mr-auto p-2 item-hl">
                    <a class="navbar-brand" [routerLink]="['/home']"
                        style=" color: thistle; margin-top: 40px; font-size: x-large;">HOME</a>
                </div>

                <div class=" p-2 item-hl" style="margin-top: 40px;">
                    <button type=" button" [routerLink]="['/login']" class="btn btn-outline-light mr-4">login</button>
                    <button type="button" [routerLink]="['/signup']" class="btn btn-outline-light mr-4">sign up</button>
                    <button type="button" [routerLink]="['/profile']" class="btn btn-outline-light">profile</button>

                </div>
            </div>



        </div>

        <div class="row mt-5">
            <div class="mx-auto ">
                <div class="findbox">
                    <span>s </span> <span>find CV</span>
                </div>
            </div>
        </div>

    </header>
    <section>
        <div class="container">
            <div class="row mt-4 ">
                <div class="mx-auto my-auto  mb-5">
                    <div *ngIf="!category">
                        <a (click)="console()"> categories>department</a>

                    </div>
                    <div *ngIf="category">
                        <a (click)="console()"> categories> </a>
                    </div>

                </div>

            </div>
            <div class="row list ">
                <ng-template [ngIf]="category">
                    <div class="group-list">

                        <ul class=" d-flex flex-wrap row-hl  ">
                            <li class=" list-group-item " (click)="console()">
                                <img src="../../../assets/medical.svg">
                                <h4>name</h4>
                            </li>
                            <li class=" list-group-item ">
                                <img src="../../../assets/medical.svg" (click)="console()">
                                <h4>name</h4>
                            </li>
                            <li class=" list-group-item ">
                                <img src="../../../assets/medical.svg" (click)="console()">
                                <h4>name</h4>
                            </li>
                            <li class=" list-group-item ">
                                <img src="../../../assets/medical.svg" (click)="console()">
                                <h4>name</h4>
                            </li>
                            <li class=" list-group-item ">
                                <img src="../../../assets/medical.svg" (click)="console()">
                                <h4>name</h4>
                            </li>
                            <li class=" list-group-item ">
                                <img src="../../../assets/medical.svg" (click)="console()">
                                <h4>name</h4>
                            </li>
                            <li class=" list-group-item ">
                                <img src="../../../assets/medical.svg" (click)="console()">
                                <h4>name</h4>
                            </li>
                        </ul>
                    </div>

                </ng-template>

                <ng-template [ngIf]="department">
                    <div class="group-list-department">

                        <ul class=" d-flex flex-wrap row-hl  ">
                            <li class=" list-group-item ">
                                <h4>department 1</h4>
                            </li>
                            <li class=" list-group-item ">
                                <h4>department 1</h4>
                            </li>
                            <li class=" list-group-item ">
                                <h4>department 1</h4>
                            </li>
                            <li class=" list-group-item ">
                                <h4>department 1</h4>
                            </li>
                            <li class=" list-group-item ">
                                <h4>department 1</h4>
                            </li>
                            <li class=" list-group-item ">
                                <h4>department 1</h4>
                            </li>
                            <li class=" list-group-item ">
                                <h4>department 1</h4>
                            </li>

                        </ul>
                    </div>

                </ng-template>
            </div>
        </div>
    </section>
</div>