<header id="home-section" class=" ">

    <div class="container">
        <div class="d-flex row-hl">
            <div class="mr-auto p-2 item-hl">
                <a class="navbar-brand" [routerLink]="['/home']"
                    style=" color:#fff; margin-top: 40px; font-size: x-large;">HOME</a>
            </div>
            <div style=" margin-top: 40px; " *ngIf="currentUser else loggedOut">
                <a class="" [routerLink]="['/profile']">
                    <img [src]="currentUser.profile_image " class=" profileImg rounded-circle">
                </a>
            </div>

            <ng-template #loggedOut>

                <div class=" p-2 item-hl" style="margin-top: 40px;">
                    <button type=" button" [routerLink]="['/login']" class="btn btn-outline-light mr-4">login</button>
                    <button type="button" [routerLink]="['/signup']" class="btn btn-outline-light mr-4">sign
                        up</button>

                </div>
            </ng-template>

        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="mx-auto ">
                <div class="container-profile">
                    <div class="avatar-flip">
                        <div *ngIf="user">
                            <img [src]="user.profile_image | safe" height="150" width="150">

                        </div>

                    </div>
                    <div *ngIf="user">
                        <h2>{{user.name }} </h2>
                        <h4>{{user.departments}}</h4>
                        <!-- <a class="btn btn-primary " [routerLink]="['/chats/', user.user_id]">message</a> -->

                    </div>

                    <div class="row">
                        <div class="col-6 border-top border-right mb-0" (click)="view('personal-info')"
                            [ngStyle]="{'background-color':curentView === 'personal-info' ? '#2f2dc0' : 'white'}">
                            personal
                            info
                        </div>
                        <div class="col-6 border-top" (click)="view('resume-info')"
                            [ngStyle]="{'background-color':curentView === 'resume-info' ? '#2f2dc0' : 'white' }">resume
                            info</div>
                    </div>
                </div>


            </div>
        </div>


        <div class="row ">


            <div class=" mx-auto ">

                <div class="container-display">
                    <ng-template [ngIf]="curentView == 'resume-info'">
                        <img *ngIf="!user.eslam" src="../../../assets/draw.png" alt="pdfImage" class="pdf">
                        <div *ngIf="user.eslam" class="pdf">

                            <embed [src]="user 
                                .eslam | safe" type="application/pdf" class="pdf">
                            <a [href]="user 
                            .eslam" target="_blank" rel="noopener">Download PDF!</a>
                        </div>


                    </ng-template>


                    <ng-template [ngIf]="curentView == 'personal-info'">
                        <app-personal-info [childMessage]="userID"></app-personal-info>

                    </ng-template>

                </div>



            </div>
        </div>
    </div>

</header>
<div *ngIf="user">
    <app-messages [receiverid]="user.user_id"></app-messages>

</div>
<div class="back" style="width: 100%; height: 100%;"></div>