<header id="home-section" class=" ">

    <div class="container">
        <div class="d-flex row-hl">
            <div class="mr-auto p-2 item-hl">
                <a class="navbar-brand" [routerLink]="['/home']"
                    style=" color:#fff; margin-top: 20px; font-size: x-large;">HOME</a>
            </div>
            <div style=" margin-top: 20px; " *ngIf="currentUser else loggedOut">


                <li ngbDropdown class="d-inline-block">
                    <a class="nav-link dropdown-toggle" id="dropdownMenuButton" ngbDropdownToggle>
                        <img [src]="currentUser.profile_image | safe" width="50" height="50"
                            class=" profileImg rounded-circle">
                    </a>
                    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenuButton">

                <li class="dropdown-item" [routerLink]="['/profile']"><span
                        class="material-icons md-48">account_circle</span>my
                    profile
                </li>
                <li class="dropdown-item" [routerLink]="['/forgot-password']"><span
                        class="material-icons md-48">https</span>change password</li>
                <li class="dropdown-item" [routerLink]="['/forgot-password']"><span
                        class="material-icons md-48">email</span>change email address
                </li>



                <li class="dropdown-item" (click)="auth.logout()"><span class="material-icons md-48">exit_to_app
                    </span>logout</li>


            </div>
            </li>
        </div>

        <ng-template #loggedOut>

            <div class=" p-2 item-hl" style="margin-top: 40px;">
                <button type=" button" [routerLink]="['/login']" class="btn btn-outline-light mr-4">login</button>
                <button type="button" [routerLink]="['/signup']" class="btn btn-outline-light mr-4">sign
                    up</button>

            </div>
        </ng-template>

    </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="mx-auto ">
                <div class="container-profile">
                    <div class="avatar-flip">
                        <div *ngIf="userdata">
                            <img *ngIf="userdata.profile_image" [src]="userdata.profile_image | safe">
                            <img *ngIf="!userdata.profile_image" src="../../../assets/default-user-image.png">

                        </div>

                    </div>
                    <div *ngIf="userdata">
                        <h2 class="user-data">{{userdata.name }} </h2>
                        <h4 class="user-data">{{userdata.departments}}</h4>
                        <!-- <a class="btn btn-primary " [routerLink]="['/chats/', user.user_id]">message</a> -->

                    </div>

                    <div class="row">
                        <div class="swich col-6 border-top border-right mb-0" (click)="view('personal-info')"
                            [class.defulat]="curentView === 'personal-info' ">
                            personal
                            info
                        </div>
                        <div class="swich col-6 border-top" (click)="view('resume-info')"
                            [class.defulat]="curentView != 'personal-info' ">resume
                            info</div>
                    </div>
                </div>


            </div>
        </div>


        <div class="row ">


            <div class=" mx-auto ">

                <div class="container-display">
                    <ng-template [ngIf]="curentView == 'resume-info'">
                        <img *ngIf="!userdata.eslam" src="../../../assets/draw.png" alt="pdfImage" class="pdf">
                        <div *ngIf="userdata.eslam" class="pdf">

                            <embed [src]="userdata 
                                .eslam | safe" type="application/pdf" class="pdf">
                            <a [href]="userdata 
                            .eslam" target="_blank" rel="noopener">Download PDF!</a>
                        </div>


                    </ng-template>


                    <ng-template [ngIf]="curentView == 'personal-info'">
                        <form [formGroup]="infoForm">
                            <div class="card mb-2">
                                <div class="container">
                                    <div class="card-body">
                                        <h4>basic info</h4>

                                        <div class="form-group ">
                                            <label for="nameId">Name</label>
                                            <div class="col-md-12">
                                                <input class="form-control" type="text" formControlName="name"
                                                    readonly />

                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="emailId">Email</label>
                                            <div class="col-md-12">
                                                <input class="form-control" type="text" formControlName="email"
                                                    readonly />
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <label for="phoneId">phone</label>
                                            <div class="col-md-12">
                                                <input class="form-control" type="tel" formControlName="phone"
                                                    readonly />
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <label for="ageId">Age</label>
                                            <div class="col-md-12">
                                                <input class="form-control" type=" number" formControlName="age"
                                                    readonly />

                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <label for="genderId">Gender</label>
                                            <div class="col-md-12">
                                                <input class="form-control" formControlName="gender" readonly />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="card mb-2">
                                <div class="container">
                                    <div class="card-body">
                                        <h4>Work experience</h4>

                                        <div class="form-group ">
                                            <label for="jobTitleId">job Title</label>
                                            <div class="col-md-12">
                                                <input class="form-control" type="text" formControlName="jobTitle"
                                                    readonly />
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="categoryId">category</label>
                                            <div class="col-md-12">
                                                <input class="form-control" formControlName="category" type="text"
                                                    readonly>

                                            </div>
                                        </div>

                                        <div>
                                            <div class="form-group ">
                                                <label for="departmentyId">department</label>
                                                <div class="col-md-12">

                                                    <input class="form-control" formControlName="department" readonly />


                                                </div>
                                            </div>

                                        </div>



                                        <div class="form-group ">
                                            <label for="yearsOfEperienceId">years Of
                                                Eperience</label>
                                            <div class="col-md-12">
                                                <input class="form-control" type="text"
                                                    formControlName="year_experience" readonly />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="card mb-2">
                                <div class="container">
                                    <div class="card-body">
                                        <h4>address</h4>
                                        <div class="form-group ">
                                            <label for="nameId">Country</label>
                                            <div class="col-md-12">
                                                <input class="form-control" formControlName="country" readonly />
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="stateId">State</label>
                                            <div class="col-md-12">

                                                <input class="form-control" formControlName="state" readonly />

                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <label for="cityId">City</label>
                                            <div class="col-md-12">


                                                <input class="form-control" type="text" formControlName="city"
                                                    readonly />

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="card mb-2">
                                <div class="container">
                                    <div class="card-body">
                                        <h4>statuses</h4>
                                        <div class="form-group ">
                                            <label for="MaritalId">Marital Status</label>
                                            <div class="col-md-12">

                                                <input class="form-control" formControlName="marital_status" readonly />


                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="MilitaryId">Military Status</label>
                                            <div class="col-md-12">

                                                <input class="form-control" formControlName="military_status"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </ng-template>

                </div>



            </div>
        </div>
    </div>

</header>
<div class="back" style="width: 100%; height: 100%;"></div>